<section class='my-10 mx-20'>
    <div id='post' class="rounded border bg-slate-50 shadow-sm flex flex-col p-5 mb-2">
{{> post-info post}}
</div>

{{#if loggedIn}}
<form class="comment-form rounded border bg-slate-50 shadow-sm flex flex-col p-5 mb-2">
    <div class='mb-2'>
        <textarea name="comment-body" rows="2" col="100"
        class='placeholder:italic placeholder:text-slate-300 block w-full border border-slate-400 rounded-md py-2 px-3 focus:outline-none focus:ring-emerald-300 focus:ring-2 focus:border-none'></textarea>
    </div>

    <div>
        <button type="submit" class="w-1/6 font-mono font-normal text-slate-600 bg-emerald-300 rounded py-2 pl-4 hover:bg-emerald-400">add comment</button>
        <button type="button" class="upvote-btn">upvote</button>
    </div>
</form>
{{/if}}

{{> comments post.comments }}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}